body {
    background-image: linear-gradient(
        to left,
        rgb(19, 23, 34),
        rgb(65, 41, 41)
    );
}

.logo {
    width: 5%;
    height: 5%;
    float: left;
    margin-bottom: 150px;
    background-size: contain;
}

.nav-links {
    float: right;
}

.nav-links li {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
}

.nav-links li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: 131722;
}


.side {
    float: right;
    width: 49%;
    height: 100%;
}

.tradingview-widget-container {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.5px;
    width: 100%;
    background-color: rgb(19, 23, 34);
}

.chat {
    float: left;
    width: 49%;
    height: 1000px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.5px;
    position: relative;
}
  
.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.chat-box {
    align-self: flex-start;
    margin-left: 10px;
    word-break: break-all;
}
  
.input-wrapper {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: 10px;
}

.input-wrapper input {
    width: 700px;
    margin-right: 10px;
    height: 40px;
    background-color: rgb(19, 23, 34);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;;
    padding: 0px;
    border: none;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.5px;
}

.input-wrapper button {
    margin-left: auto;
    height: 40px;
    width: 40px;
    background-color: rgb(19, 23, 34);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    border: none;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.5px;
}

.portofolio {
    margin-top: 25px;
    float: right;
    width: 100%;
    height: 374px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.5px;
    position: relative;

}

.title {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.portofolio button {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(19, 23, 34);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    border: none;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.5px;
    float: right;
    height: 20px;
    width: 20px;
}

.portofolio dialog {
    padding: 0.5rem;
    background: white;
    border-radius: 0.25rem;
    z-index: 10;
    width: 800px;
    height: 200px;
    background-color: rgb(19, 23, 34);
}

.portofolio dialog > button {
    font-size: 10px;
    height: auto;
    width: auto;
}

footer {
    width: 100%;
    height: 100px;
    margin-top: calc(170px / 2);
    color: white;
    text-align: center;
    align-items: center;
}

.clear {
    clear: both;
}
